
.dropzone{
 height: inherit;
 width: inherit;
}

.block {
 min-height: 200px;
 background-position: center center;
 background-repeat: no-repeat;
 background-size: contain;
}

.star {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3b/Star_icon.png');
  min-height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 2em;
  text-align: center;
}
